<<<<<<< HEAD
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    color: #1e1e1e;
    line-height: 1.6;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Buttons */
button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;



>>>>>>> bc3ebec528a48a4473095551c04d0560be99ec6c
