@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.div-bienvenu {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #0c6109, rgb(22, 202, 37));
    margin-top: 0.5cm;
    padding: 2cm;
    color: white;
    animation: fadeIn 1s ease-in;

}

.div-bienvenu > .buttons {
    background-color: transparent;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.div-bienvenu > h3, 
.div-bienvenu > p, 
.div-bienvenu > button {
    justify-content: center;
    padding: 0.5cm;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
.div-bienvenu > .buttons > button {
    padding: 12px 24px;
    border: none;
    border-radius: 10%;
    margin-right: 0.5CM;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.div-bienvenu > .buttons > button:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}
.div-bienvenu > div.buttons > button > a { color: black;}

.div-bienvenu > div.buttons {
   background-color: transparent ;
}

h3 {
    font-size: large;
    font-size: 1cm;
}

.div-service > h3 {
    
}
.div-service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-service>.service-container {
    display: flex;
    gap: 1cm;
}
.div-service > .service-container > div { 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5cm;
    background-color: rgb(22, 202, 37);
    transition: all 0.3s ease;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
} 

.div-service > .service-container > div:hover { 
  background: rgb(13, 139, 23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transform: translateY(-2px);
} 

.div-service > .service-container > div > .service-icon > img {
    height: 1.4cm;
    width: 1.4cm;
    border-radius: 50%;
}

.div-service > .service-container > div > .service-icon  {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.info-DEJ {
  margin-top: 1cm;
  text-align: center;
  width: 35cm;
}
div.info-COM {
display: block;
}
div.info-COM > div > img {
 border-radius: 50%;
}
div.info-COM > div  {
display: flex; 
justify-content: center;
align-items: center;
gap: 2cm;
}





